# Xcode user-specific files (open tabs, window positions, etc.)
xcuserdata/
*.xcuserstate

# Derived Data (Build files)
DerivedData/

# DS_Store (Mac system files)
.DS_Store

SeacretConstants.swiftshopify-ecommerce-ios/Home/SeacretConstants.swift
shopify-ecommerce-ios/Home/SeacretConstants.swift
shopify-ecommerce-ios/SeacretConstants.swift
# Firebase configuration file
**/GoogleService-Info.plist

# Keys and Tokens of Api 
**/NetworkConstants.swift

# Ignore Sensitive Keys
Secrets.xcconfig
