<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1092567447338-ptkcgnbfatcqk7lfjb4v5jld47jt1meh</string>
			</array>
		</dict>
	</array>
	<key>ShopifyAdminToken</key>
	<string>$(SHOPIFY_ADMIN_TOKEN)</string>
	<key>ShopifyApiKey</key>
	<string>$(SHOPIFY_API_KEY)</string>
	<key>PAYMOB_PUBLIC_KEY</key>
	<string>$(PAYMOB_PUBLIC_KEY)</string>
	<key>PAYMOB_SECRET_KEY</key>
	<string>$(PAYMOB_SECRET_KEY)</string>
	<key>PAYMOB_CARD_INTEGRATION_ID</key>
	<string>$(PAYMOB_CARD_INTEGRATION_ID)</string>
</dict>

</plist>
