//
//  Secrets.xcconfig
//  shopify-ecommerce-ios
//
//  Created by Ehab Salah on 01/07/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Secrets.xcconfig
SHOPIFY_ADMIN_TOKEN = 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
SHOPIFY_API_KEY = aa8d104ab1b323002f6385dd093896ff
